h1 {
    font-family: "Century Gothic", Arial, sans-serif;
}

.esperanza {
    border-radius: 17px;
}

.gordito {
    width: 100%;
}

.iblanco {
    color: #ffffff;
}

.iazul {
    color: #237bff;
}

.irojo {
    color: #c40000;
}

.swal-overlay {
    background-color: #237bff;
}

.contorna {
    border: 2px solid rgb(213, 0, 0);
    /* Define el color y el grosor del borde */
    border-radius: 15px;
    /* Hace que los bordes sean redondos */
}


.square-image {
    width: 245px;
    /* Define el ancho deseado para tus imágenes cuadradas */
    height: 245px;
    /* Define la altura deseada para tus imágenes cuadradas */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}

.square-image img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el espacio disponible dentro del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen sin distorsionarla */
}

.tlayuda {
    width: 324px;
    /* Define el ancho deseado para tus imágenes cuadradas */
    height: 324px;
    /* Define la altura deseada para tus imágenes cuadradas */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}

.tlayuda img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el espacio disponible dentro del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen sin distorsionarla */
}

.puerco {
    width: 750px;
    /* Define el ancho deseado para tus imágenes cuadradas */
    height: 700px;
    /* Define la altura deseada para tus imágenes cuadradas */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}

.p80 {
    width: 90%;
    /* Personaliza el ancho según tus necesidades */
    margin: 0 auto;
    /* Centra horizontalmente el div */
}

.barrita {
    height: 60vh;
    /* Altura es el 60% de la altura de la ventana */
    overflow-y: auto;
    /* Permite el desplazamiento vertical si es necesario */
}

.number-input {
    display: flex;
    align-items: center;
}

.number-input button {
    height: 40px;
    width: 30px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 4px;
}

.number-input input[type=number] {
    border: none;
    text-align: center;
    width: 50px;
    height: 40px;
}


.despair {
    border-radius: 17px;
    background-color: #ffffff;
}

.btn-purple {
    background-color: #ae23ff;
}

.btn-magenta {
    background-color: #eb0fa5;
}

.btn-danger {
    background-color: #ff2323;
}

.bigshow {
    font-size: 100px;
}

.midshow {
    font-size: 17px;
}

.custom-input {
    background-color: #161616;
    color: #ffffff;
    /* Este es el color primary de Bootstrap */
    border-color: #272727;
    /* Este es el color primary de Bootstrap */
}

.custom-input:focus {
    background-color: rgb(0, 0, 0);
    color: #258eff;
    border-color: #007bff;
    /* Este es el color primary de Bootstrap */
    box-shadow: 0 0 0 0.2rem rgba(61, 129, 255, 0.751);
    /* Este es el estilo de foco de Bootstrap con el color primary */
}

.menu:hover {
    background-color: #007bff;
}

.deslice::-webkit-slider-thumb {
    width: 20px; /* Ajusta según lo necesites */
    height: 25px; /* Asegúrate de que sea un valor igual al del width para que sea redondo */
    background-color: #007bff;
    border-radius: 50%; /* Hace que sea redondo */
    cursor: pointer; /* Cambia el cursor a una mano cuando está sobre el thumb */
    -webkit-appearance: none; /* Necesario para que los estilos se apliquen en webkit/browsers basados en Chrome/Safari */
}

.deslice {
    -webkit-appearance: none; /* Elimina el estilo por defecto en webkit/browsers basados en Chrome/Safari */
    height: 5px; /* Puedes ajustarlo a tu gusto */
    background-color: #000000; /* Puedes ajustarlo a tu gusto */
    outline: none; /* Elimina el borde que aparece al seleccionar el input */
    cursor: pointer; /* Cambia el cursor a una mano cuando está sobre el slider */
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes big {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.1);
    }
}

.big {
    animation: big 2s infinite;
}

@keyframes shrink {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.9);
    }
}

.shrink {
    animation: shrink 2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);;
    }

    100% {
        transform: rotate(360deg);;
    }
}

.spin {
    animation: spin 1s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 2s;
}

.fadeIn2 {
    animation: fadeIn 3s;
}

.fadeIn3 {
    animation: fadeIn 4s;
}

.mi-input::-moz-placeholder {
    color: #555555;
}

.mi-input:-ms-input-placeholder {
    color: #555555;
}

.mi-input::-webkit-input-placeholder {
    color: #555555;
}